body {
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}

p {
  color: #9670f4;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App img {
  background: crimson;
}

.App-header {
  margin: 30px 0;
}
.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
